.App {
  /* text-align: center; */
}

.wrapper {
  min-height: 100vh;
  max-width: 100%;
  margin: 0 10px;
  display: grid;
  grid-gap: 10px;
  /* grid-template-columns: 1fr 2fr 2fr 2fr; */
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    'header'
    'content-area-left'
    'content-area-right'
    'footer';
}

.header {
  grid-area: header;
  position: relative;
  border-radius: 5px;
}

.content-area-left {
  grid-area: content-area-left;
  text-align: left;
  background: pink;
  border-radius: 5px;
}

.content-area-right {
  grid-area: content-area-right;
  text-align: left;
  /* background: burlywood; */
  border-radius: 5px;
}

.map {
  grid-area: map;
  /* background: blueviolet; */
  border-radius: 5px;
}

.footer {
  grid-area: footer;
  background: rgb(197, 89, 89);
  border-radius: 5px;
  text-align: center;
}
@media (min-width: 500px) {
  .wrapper {
    border-radius: 10px;
    grid-template-columns: 1fr 1fr 3fr 2fr;
    grid-auto-rows: 0.5fr 6fr 0.5fr;
    grid-template-areas:
      'header            header            header            header'
      'content-area-left content-area-right content-area-right map'
      'content-area-left content-area-right content-area-right map'
      'content-area-left content-area-right content-area-right map'
      'content-area-left content-area-right content-area-right map'
      'footer             footer             footer             footer';
  }
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #fdfdfd;
  border-radius: 50px;
  padding: 8px;
}

.search_input {
  color: rgb(10, 9, 9);
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 30px;
  transition: width 0.4s linear;
  font-size: 20px;
}
.searchbar:hover {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 15px;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 700px;
  caret-color: rgb(0, 0, 0);
  transition: width 0.3s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #000000;
}

.search_icon {
  height: 100%;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgb(219, 14, 14);
}

/* *,
*:before,
*:after {
  box-sizing: border-box;
} */
/*
body {
  margin: 40px;
  font-family: "Open Sans", "sans-serif";
  background-color: #fff;
  color: #444;
}

h1,
p {
  margin: 0 0 1em 0;
}

.wrapper {
  min-height: 100vh;
  max-width: 100%;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
} */

/* @media screen and (min-width: 500px) {
  .sidebar {
    float: left;
    width: 19.1489%;
  }

  .content {
    float: right;
    width: 79.7872%;
  }

  .wrapper {
    margin: 0 auto;
    grid-template-columns: 1fr 4fr;
  }

  .header,
  .footer {
    grid-column: 1 / -1;

    clear: both;
  }
} */

/* .wrapper > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin-bottom: 10px;
} */

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
/* @supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
} */
