.App {
  text-align: center;
}

.wrapper {
  min-height: 100vh;
  max-width: 100%;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
  /* grid-template-columns: 1fr 2fr 2fr 2fr; */
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "header"
    "content-area-left"
    "content-area-right"
    "footer";
}

.header {
  grid-area: header;
  position: relative;
  background: gray;
}

.content-area-left {
  grid-area: content-area-left;
  background: pink;
}

.content-area-right {
  grid-area: content-area-right;
  display: block;
  background: burlywood;
}

.map {
  grid-area: map;
  background: blueviolet;
}

.footer {
  grid-area: footer;
  background: gray;
}
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 3fr 2fr;
    grid-auto-rows: 1fr 4fr 1fr;
    grid-template-areas:
      "header            header            header            header"
      "content-area-left content-area-right content-area-right map"
      "content-area-left content-area-right content-area-right map"
      "content-area-left content-area-right content-area-right map"
      "content-area-left content-area-right content-area-right map"
      "footer             footer             footer             footer";
  }
}

/* *,
*:before,
*:after {
  box-sizing: border-box;
} */
/*
body {
  margin: 40px;
  font-family: "Open Sans", "sans-serif";
  background-color: #fff;
  color: #444;
}

h1,
p {
  margin: 0 0 1em 0;
}

.wrapper {
  min-height: 100vh;
  max-width: 100%;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
} */

/* @media screen and (min-width: 500px) {
  .sidebar {
    float: left;
    width: 19.1489%;
  }

  .content {
    float: right;
    width: 79.7872%;
  }

  .wrapper {
    margin: 0 auto;
    grid-template-columns: 1fr 4fr;
  }

  .header,
  .footer {
    grid-column: 1 / -1;

    clear: both;
  }
} */

/* .wrapper > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin-bottom: 10px;
} */

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
/* @supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
} */
